body{
    background-color: rgb(184, 48, 48);
    text-align: center;
}
.box{
    height: 400px;
    width: 400px;
    background-color: aqua;
    border: none;
    border-radius: 10px;
    color: black;
    margin-left: 350px;
    margin-top: 50px;
}
.h1{
    color: black;
}
.input{
    background-color: white;
    color: black;
    height: 30px;
    margin-top: 20px;
    width: 300px;
    border: none;
    border-radius: 10px;
}
.button{
    background-color: blue;
    height: 50px;
    width: 100px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
}